In [29]:
import mlxtend
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
df = pd.read_csv("filtered_h1b.csv")

In [3]:
rule_mining_1 = ['CASE_STATUS','SOC_TITLE','FULL_TIME_POSITION','H_1B_DEPENDENT','PUBLIC_DISCLOSURE']

In [4]:
df1 = df[rule_mining_1]

In [5]:
df1

,CASE_STATUS,SOC_TITLE,FULL_TIME_POSITION,H_1B_DEPENDENT,PUBLIC_DISCLOSURE
0,Certified - Withdrawn,Operations Research Analysts,Y,No,Disclose Business
1,Certified - Withdrawn,Management Analysts,Y,No,Disclose Business
2,Certified - Withdrawn,Computer and Information Systems Managers,Y,NaN,Disclose Business
3,Certified - Withdrawn,Computer Systems Analysts,Y,Yes,Disclose Business
4,Withdrawn,General and Operations Managers,Y,NaN,Disclose Business
...,...,...,...,...,...
80044,Certified - Withdrawn,Electrical Engineers,Y,No,Disclose Business
80045,Certified - Withdrawn,Electrical Engineers,Y,No,Disclose Business
80046,Withdrawn,"Business Operations Specialists, All Other",Y,NaN,Disclose Business and Employment
80047,Certified - Withdrawn,"Software Developers, Applications",Y,No,Disclose Business
80048,Certified - Withdrawn,"Software Developers, Applications",Y,No,Disclose Business

In [9]:
cert = df1[(df1['CASE_STATUS']=='Certified - Withdrawn') | (df1['CASE_STATUS']=='Certified') ]

In [10]:
cert

,CASE_STATUS,SOC_TITLE,FULL_TIME_POSITION,H_1B_DEPENDENT,PUBLIC_DISCLOSURE
0,Certified - Withdrawn,Operations Research Analysts,Y,No,Disclose Business
1,Certified - Withdrawn,Management Analysts,Y,No,Disclose Business
2,Certified - Withdrawn,Computer and Information Systems Managers,Y,NaN,Disclose Business
3,Certified - Withdrawn,Computer Systems Analysts,Y,Yes,Disclose Business
6,Certified - Withdrawn,Computer Programmers,Y,Yes,Disclose Business
...,...,...,...,...,...
80043,Certified,Computer Systems Analysts,Y,Yes,Disclose Business
80044,Certified - Withdrawn,Electrical Engineers,Y,No,Disclose Business
80045,Certified - Withdrawn,Electrical Engineers,Y,No,Disclose Business
80047,Certified - Withdrawn,"Software Developers, Applications",Y,No,Disclose Business
80048,Certified - Withdrawn,"Software Developers, Applications",Y,No,Disclose Business

In [19]:
transactions = df1.groupby(['SOC_TITLE','FULL_TIME_POSITION','H_1B_DEPENDENT',
       'PUBLIC_DISCLOSURE']).size().reset_index(name='count')

In [20]:
transactions

,SOC_TITLE,FULL_TIME_POSITION,H_1B_DEPENDENT,PUBLIC_DISCLOSURE,count
0,Accountants and Auditors,N,No,Disclose Business,62
1,Accountants and Auditors,N,No,Disclose Employment,6
2,Accountants and Auditors,N,Yes,Disclose Employment,1
3,Accountants and Auditors,Y,No,Disclose Business,1734
4,Accountants and Auditors,Y,No,Disclose Business and Employment,56
...,...,...,...,...,...
661,Web and Digital Interface Designers,Y,No,Disclose Business,138
662,Web and Digital Interface Designers,Y,No,Disclose Business and Employment,6
663,Web and Digital Interface Designers,Y,No,Disclose Employment,14
664,Web and Digital Interface Designers,Y,Yes,Disclose Business,121
665,Web and Digital Interface Designers,Y,Yes,Disclose Business and Employment,1

In [23]:
transaction_list = []

for index, row in transactions.iterrows():
    transaction_list.append([row['SOC_TITLE'], row['FULL_TIME_POSITION'],row['H_1B_DEPENDENT'],row['PUBLIC_DISCLOSURE']])

In [25]:
te = TransactionEncoder()

In [26]:
te_ary = te.fit(transaction_list).transform(transaction_list)

In [27]:
df_encoded = pd.DataFrame(te_ary, columns=te.columns_)

In [46]:
# Get frequent itemsets
frequent_itemsets1 = apriori(df_encoded, min_support=0.5, use_colnames=True)

In [47]:
frequent_itemsets1

    support             itemsets
0  0.504505  (Disclose Business)
1  0.732733                 (No)
2  0.684685                  (Y)

In [67]:
rules1 = association_rules(frequent_itemsets1, metric="confidence", min_threshold=0.1)

In [65]:
rules1

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction, zhangs_metric]
Index: []

In [48]:
# Get frequent itemsets
frequent_itemsets2 = apriori(df_encoded, min_support=0.3, use_colnames=True)

In [49]:
frequent_itemsets2

    support                 itemsets
0  0.504505      (Disclose Business)
1  0.315315                      (N)
2  0.732733                     (No)
3  0.684685                      (Y)
4  0.315315  (No, Disclose Business)
5  0.480480                  (No, Y)

In [68]:
rules2 = association_rules(frequent_itemsets2, metric="confidence", min_threshold=0.1)

In [69]:
rules2

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(No),(Disclose Business),0.732733,0.504505,0.315315,0.430328,0.852971,-0.054352,0.869791,-0.392077
1,(Disclose Business),(No),0.504505,0.732733,0.315315,0.625000,0.852971,-0.054352,0.712713,-0.258094
2,(No),(Y),0.732733,0.684685,0.480480,0.655738,0.957722,-0.021210,0.915916,-0.141755
3,(Y),(No),0.684685,0.732733,0.480480,0.701754,0.957722,-0.021210,0.896131,-0.122807

In [50]:
# Get frequent itemsets
frequent_itemsets3 = apriori(df_encoded, min_support=0.1, use_colnames=True)

In [51]:
frequent_itemsets3

     support                                   itemsets
0   0.504505                        (Disclose Business)
1   0.249249         (Disclose Business and Employment)
2   0.246246                      (Disclose Employment)
3   0.315315                                        (N)
4   0.732733                                       (No)
5   0.684685                                        (Y)
6   0.267267                                      (Yes)
7   0.207207                     (Disclose Business, N)
8   0.315315                    (No, Disclose Business)
9   0.297297                     (Disclose Business, Y)
10  0.189189                   (Disclose Business, Yes)
11  0.204204     (No, Disclose Business and Employment)
12  0.196697      (Y, Disclose Business and Employment)
13  0.213213                  (No, Disclose Employment)
14  0.190691                   (Disclose Employment, Y)
15  0.252252                                    (No, N)
16  0.480480                                    (No, Y)
17  0.204204                                   (Yes, Y)
18  0.148649                 (No, Disclose Business, N)
19  0.166667                 (No, Disclose Business, Y)
20  0.130631                (Disclose Business, Yes, Y)
21  0.154655  (No, Y, Disclose Business and Employment)
22  0.159159               (No, Disclose Employment, Y)

In [70]:
rules3 = association_rules(frequent_itemsets3, metric="confidence", min_threshold=0.1)

In [71]:
rules3

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Disclose Business),(N),0.504505,0.315315,0.207207,0.410714,1.302551,0.048129,1.161889,0.468775
1,(N),(Disclose Business),0.315315,0.504505,0.207207,0.657143,1.302551,0.048129,1.445195,0.339245
2,(No),(Disclose Business),0.732733,0.504505,0.315315,0.430328,0.852971,-0.054352,0.869791,-0.392077
3,(Disclose Business),(No),0.504505,0.732733,0.315315,0.625000,0.852971,-0.054352,0.712713,-0.258094
4,(Disclose Business),(Y),0.504505,0.684685,0.297297,0.589286,0.860667,-0.048129,0.767724,-0.246262
5,(Y),(Disclose Business),0.684685,0.504505,0.297297,0.434211,0.860667,-0.048129,0.875759,-0.339245
6,(Disclose Business),(Yes),0.504505,0.267267,0.189189,0.375000,1.403090,0.054352,1.172372,0.579798
7,(Yes),(Disclose Business),0.267267,0.504505,0.189189,0.707865,1.403090,0.054352,1.696119,0.392077
8,(No),(Disclose Business and Employment),0.732733,0.249249,0.204204,0.278689,1.118112,0.021571,1.040814,0.395241
9,(Disclose Business and Employment),(No),0.249249,0.732733,0.204204,0.819277,1.118112,0.021571,1.478879,0.140706
10,(Y),(Disclose Business and Employment),0.684685,0.249249,0.196697,0.287281,1.152584,0.026040,1.053361,0.419847
11,(Disclose Business and Employment),(Y),0.249249,0.684685,0.196697,0.789157,1.152584,0.026040,1.495495,0.176336
12,(No),(Disclose Employment),0.732733,0.246246,0.213213,0.290984,1.181677,0.032781,1.063098,0.575249
13,(Disclose Employment),(No),0.246246,0.732733,0.213213,0.865854,1.181677,0.032781,1.992356,0.203973
14,(Disclose Employment),(Y),0.246246,0.684685,0.190691,0.774390,1.131017,0.022090,1.397614,0.153684
15,(Y),(Disclose Employment),0.684685,0.246246,0.190691,0.278509,1.131017,0.022090,1.044716,0.367379
16,(No),(N),0.732733,0.315315,0.252252,0.344262,1.091803,0.021210,1.044144,0.314607
17,(N),(No),0.315315,0.732733,0.252252,0.800000,1.091803,0.021210,1.336336,0.122807
18,(No),(Y),0.732733,0.684685,0.480480,0.655738,0.957722,-0.021210,0.915916,-0.141755
19,(Y),(No),0.684685,0.732733,0.480480,0.701754,0.957722,-0.021210,0.896131,-0.122807
20,(Yes),(Y),0.267267,0.684685,0.204204,0.764045,1.115908,0.021210,1.336336,0.141755
21,(Y),(Yes),0.684685,0.267267,0.204204,0.298246,1.115908,0.021210,1.044144,0.329412
22,"(No, Disclose Business)",(N),0.315315,0.315315,0.148649,0.471429,1.495102,0.049225,1.295349,0.483652
23,"(No, N)",(Disclose Business),0.252252,0.504505,0.148649,0.589286,1.168048,0.021386,1.206424,0.192406
24,"(Disclose Business, N)",(No),0.207207,0.732733,0.148649,0.717391,0.979063,-0.003179,0.945715,-0.026266
25,(No),"(Disclose Business, N)",0.732733,0.207207,0.148649,0.202869,0.979063,-0.003179,0.994558,-0.074086
26,(Disclose Business),"(No, N)",0.504505,0.252252,0.148649,0.294643,1.168048,0.021386,1.060098,0.290358
27,(N),"(No, Disclose Business)",0.315315,0.315315,0.148649,0.471429,1.495102,0.049225,1.295349,0.483652
28,"(No, Disclose Business)",(Y),0.315315,0.684685,0.166667,0.528571,0.771992,-0.049225,0.668851,-0.301366
29,"(No, Y)",(Disclose Business),0.480480,0.504505,0.166667,0.346875,0.687556,-0.075738,0.758653,-0.466583
30,"(Disclose Business, Y)",(No),0.297297,0.732733,0.166667,0.560606,0.765089,-0.051173,0.608263,-0.304075
31,(No),"(Disclose Business, Y)",0.732733,0.297297,0.166667,0.227459,0.765089,-0.051173,0.909599,-0.534624
32,(Disclose Business),"(No, Y)",0.504505,0.480480,0.166667,0.330357,0.687556,-0.075738,0.775816,-0.478383
33,(Y),"(No, Disclose Business)",0.684685,0.315315,0.166667,0.243421,0.771992,-0.049225,0.904975,-0.483652
34,"(Disclose Business, Yes)",(Y),0.189189,0.684685,0.130631,0.690476,1.008459,0.001096,1.018711,0.010345
35,"(Disclose Business, Y)",(Yes),0.297297,0.267267,0.130631,0.439394,1.644025,0.051173,1.307037,0.557471
36,"(Y, Yes)",(Disclose Business),0.204204,0.504505,0.130631,0.639706,1.267988,0.027609,1.375253,0.265582
37,(Disclose Business),"(Y, Yes)",0.504505,0.204204,0.130631,0.258929,1.267988,0.027609,1.073845,0.426541
38,(Yes),"(Disclose Business, Y)",0.267267,0.297297,0.130631,0.488764,1.644025,0.051173,1.374517,0.534624
39,(Y),"(Disclose Business, Yes)",0.684685,0.189189,0.130631,0.190789,1.008459,0.001096,1.001978,0.026601
40,"(No, Y)",(Disclose Business and Employment),0.480480,0.249249,0.154655,0.321875,1.291378,0.034895,1.107098,0.434312
41,"(No, Disclose Business and Employment)",(Y),0.204204,0.684685,0.154655,0.757353,1.106134,0.014839,1.299481,0.120572
42,"(Y, Disclose Business and Employment)",(No),0.196697,0.732733,0.154655,0.786260,1.073051,0.010529,1.250429,0.084747
43,(No),"(Y, Disclose Business and Employment)",0.732733,0.196697,0.154655,0.211066,1.073051,0.010529,1.018213,0.254718
44,(Y),"(No, Disclose Business and Employment)",0.684685,0.204204,0.154655,0.225877,1.106134,0.014839,1.027997,0.304300
45,(Disclose Business and Employment),"(No, Y)",0.249249,0.480480,0.154655,0.620482,1.291378,0.034895,1.368893,0.300544
46,"(No, Disclose Employment)",(Y),0.213213,0.684685,0.159159,0.746479,1.090252,0.013175,1.243744,0.105214
47,"(No, Y)",(Disclose Employment),0.480480,0.246246,0.159159,0.331250,1.345198,0.040843,1.127108,0.493947
48,"(Y, Disclose Employment)",(No),0.190691,0.732733,0.159159,0.834646,1.139086,0.019434,1.616331,0.150873
49,(No),"(Y, Disclose Employment)",0.732733,0.190691,0.159159,0.217213,1.139086,0.019434,1.033882,0.456858
50,(Disclose Employment),"(No, Y)",0.246246,0.480480,0.159159,0.646341,1.345198,0.040843,1.468986,0.340450
51,(Y),"(No, Disclose Employment)",0.684685,0.213213,0.159159,0.232456,1.090252,0.013175,1.025071,0.262534

In [56]:
# Get frequent itemsets
frequent_itemsets4 = apriori(df_encoded, min_support=0.05, use_colnames=True)

In [57]:
frequent_itemsets4

     support                                   itemsets
0   0.504505                        (Disclose Business)
1   0.249249         (Disclose Business and Employment)
2   0.246246                      (Disclose Employment)
3   0.315315                                        (N)
4   0.732733                                       (No)
5   0.684685                                        (Y)
6   0.267267                                      (Yes)
7   0.207207                     (Disclose Business, N)
8   0.315315                    (No, Disclose Business)
9   0.297297                     (Disclose Business, Y)
10  0.189189                   (Disclose Business, Yes)
11  0.052553      (N, Disclose Business and Employment)
12  0.204204     (No, Disclose Business and Employment)
13  0.196697      (Y, Disclose Business and Employment)
14  0.055556                   (N, Disclose Employment)
15  0.213213                  (No, Disclose Employment)
16  0.190691                   (Disclose Employment, Y)
17  0.252252                                    (No, N)
18  0.063063                                   (N, Yes)
19  0.480480                                    (No, Y)
20  0.204204                                   (Yes, Y)
21  0.148649                 (No, Disclose Business, N)
22  0.058559                (Disclose Business, N, Yes)
23  0.166667                 (No, Disclose Business, Y)
24  0.130631                (Disclose Business, Yes, Y)
25  0.154655  (No, Y, Disclose Business and Employment)
26  0.054054               (No, N, Disclose Employment)
27  0.159159               (No, Disclose Employment, Y)

In [72]:
rules4 = association_rules(frequent_itemsets4, metric="confidence", min_threshold=0.1)

In [73]:
rules4

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Disclose Business),(N),0.504505,0.315315,0.207207,0.410714,1.302551,0.048129,1.161889,0.468775
1,(N),(Disclose Business),0.315315,0.504505,0.207207,0.657143,1.302551,0.048129,1.445195,0.339245
2,(No),(Disclose Business),0.732733,0.504505,0.315315,0.430328,0.852971,-0.054352,0.869791,-0.392077
3,(Disclose Business),(No),0.504505,0.732733,0.315315,0.625000,0.852971,-0.054352,0.712713,-0.258094
4,(Disclose Business),(Y),0.504505,0.684685,0.297297,0.589286,0.860667,-0.048129,0.767724,-0.246262
...,...,...,...,...,...,...,...,...,...,...
64,"(No, Y)",(Disclose Employment),0.480480,0.246246,0.159159,0.331250,1.345198,0.040843,1.127108,0.493947
65,"(Y, Disclose Employment)",(No),0.190691,0.732733,0.159159,0.834646,1.139086,0.019434,1.616331,0.150873
66,(No),"(Y, Disclose Employment)",0.732733,0.190691,0.159159,0.217213,1.139086,0.019434,1.033882,0.456858
67,(Disclose Employment),"(No, Y)",0.246246,0.480480,0.159159,0.646341,1.345198,0.040843,1.468986,0.340450
68,(Y),"(No, Disclose Employment)",0.684685,0.213213,0.159159,0.232456,1.090252,0.013175,1.025071,0.262534

In [58]:
frequent_itemsets5 = apriori(df_encoded, min_support=0.01, use_colnames=True)

In [59]:
frequent_itemsets5

     support                                    itemsets
0   0.012012                  (Accountants and Auditors)
1   0.015015            (Business Intelligence Analysts)
2   0.010511                          (Chief Executives)
3   0.010511               (Computer Network Architects)
4   0.012012           (Computer Occupations, All Other)
..       ...                                         ...
64  0.154655   (No, Y, Disclose Business and Employment)
65  0.042042  (Y, Yes, Disclose Business and Employment)
66  0.054054                (No, N, Disclose Employment)
67  0.159159                (No, Disclose Employment, Y)
68  0.031532               (Yes, Disclose Employment, Y)

[69 rows x 2 columns]

In [74]:
rules5 = association_rules(frequent_itemsets5, metric="confidence", min_threshold=0.1)

In [75]:
rules5

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Disclose Business),(N),0.504505,0.315315,0.207207,0.410714,1.302551,0.048129,1.161889,0.468775
1,(N),(Disclose Business),0.315315,0.504505,0.207207,0.657143,1.302551,0.048129,1.445195,0.339245
2,(No),(Disclose Business),0.732733,0.504505,0.315315,0.430328,0.852971,-0.054352,0.869791,-0.392077
3,(Disclose Business),(No),0.504505,0.732733,0.315315,0.625000,0.852971,-0.054352,0.712713,-0.258094
4,(Disclose Business),(Y),0.504505,0.684685,0.297297,0.589286,0.860667,-0.048129,0.767724,-0.246262
...,...,...,...,...,...,...,...,...,...,...
83,"(Disclose Employment, Yes)",(Y),0.033033,0.684685,0.031532,0.954545,1.394139,0.008914,6.936937,0.292369
84,"(Y, Yes)",(Disclose Employment),0.204204,0.246246,0.031532,0.154412,0.627062,-0.018753,0.891396,-0.427705
85,"(Y, Disclose Employment)",(Yes),0.190691,0.267267,0.031532,0.165354,0.618685,-0.019434,0.877897,-0.432319
86,(Yes),"(Y, Disclose Employment)",0.267267,0.190691,0.031532,0.117978,0.618685,-0.019434,0.917561,-0.456858
87,(Disclose Employment),"(Y, Yes)",0.246246,0.204204,0.031532,0.128049,0.627062,-0.018753,0.912661,-0.441039